//Libel Suit Rg-Regular
@font-face {
  font-family: $font-libel-suit;
  src: url('../fonts/libel-suit/libel-suit-rg.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

//Advent-pro
@font-face {
  font-family: $font-advent-pro;
  src: url('../fonts/Advent-pro/AdventPro-Regular.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

//Adequate
@font-face {
  font-family: $font-adequate;
  src: url('../fonts/Adequate-ExtraLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}